/**FIRST DESIGN**/
/*.mainCanvas{
    display: flex;
    flex-direction: column;
}

.doubleCanvas{
    display: flex;
    flex-grow:initial;
}

.topBar{
    display: flex;
    background-color: black;
    width: 100%;
    height: 5vh;
}

.navBar{
    background-color:blue;
    width: 35vh;
    height: calc(100vh - 5vh);
    scroll-behavior: smooth;
}

.noteContent{
    background-color:green;
    width: 100%;
    height: calc(100vh - 5vh);
    scroll-behavior: smooth;
}*/

/**SECOND DESIGN**/
/*.topBar{
    display: flex;
    background-color: black;
    width: 100%;
    height: 5vh;
}

.titleBar{
    width: 11.5vw;
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 5px;
    width: 40px;
    height: 40px;
}

.appName{
    margin-top: 5px;
    font-family: "Brush Script MT";
    font-weight: lighter;
    color: white;
}

.controlBar{
    background-color: black;
    width: calc(100vw - 11.5vw);
    margin-top: 5px;
    border-left: 3px solid white;
    height: 4vh;
}

.canvas{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px;
    padding: 3em;
}*/

body {
    overflow: hidden;
}

.conts {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 1fr;
}

.header {
    display: inline-flex;
    background-color: black;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid lightgrey;
}

.subsidebar{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sidebar {
  border-right: 1px solid lightgrey;
  overflow: hidden;
}

.footer {
    padding-left: 5px;
    border-top: 1px solid lightgrey;
    color: white;
}

.body {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  overflow: hidden;
}

.content {
    background-color: wheat;
    overflow-y: auto;
    padding: 50px;
}

p {
  max-width: 600px;
}

.titleBar{
    width: 19.5vw;
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 0.5vh;
    width: 2vw;
    height: 4vh;
}

.appName{
    margin-top: 0.5vh;
    align-self: center;
    font-family: "Brush Script MT";
    font-weight: lighter;
    color: white;
}

.control{
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 4vw;
    height: 4vh;
    margin-right: 0.5em;
    border-radius: 8px;
}

.control:hover{
    background-color: white;
    color: black;
}

.controlBar{
    display: grid;
    background-color: black;
    justify-items: right;
    width: 100%;
    margin-top: 5px;
    border-left: 3px solid white;
    height: 4vh;
}