

.registerContainer{
    display: flex;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    width: 600px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -240px);
    justify-content: space-evenly;
}

.registerTitle {
    display: flex;
    justify-content: center;
}

.inputContainer {
    padding: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.registerButton {
    width: 200px;
} 

.textboxText {
    font-weight: 500;
    font-size: 17px;
}

@media (min-width: 768px) and (max-width: 1024px) {    
    .registerContainer{
        width: 70%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-evenly;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {    
    .registerContainer{
        width: 70%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-evenly;
    }

    .inputContainer {        
        padding: 5px;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-evenly;
        margin-top: -20px;
    }
    
    .registerButton {
        width: 160px;
    } 
    
    .textboxText {
        height: 5px;
        font-weight: 500;
        font-size: 15px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {    
    .registerContainer{
        width: 70%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-evenly;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {    
    .registerContainer{
        width: 95%;
        height: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-evenly;
    }

    .registerButton {
        margin-top: -20px;
        width: 160px;
    }
  }

  @media(min-height: 600px) and (max-height: 800px){
      
}

  @media(min-height: 400px) and (max-height: 600px){
    .registerContainer{
        height: 85%;
        transform: translate(-50%, -50%);
        justify-content: space-evenly;
    }

    .registerButton {
        margin-top: -20px;
        width: 160px;
    }
}

  @media(min-height: 100px) and (max-height: 400px){
    .registerContainer{
        height: 115%;
        transform: translate(-50%, -55%);
        justify-content: space-evenly;
    }

    .registerButton {
        margin-top: -30px;
        width: 160px;
    }
  }