<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\css\register.css">
  <title>Cloud Stickies - Index</title>
</head>
<body>
  <div class="main">
    <p class="mainTitle">Register</p>
    <div class="inputs">
      <div>
        <h4 style="margin:0">Username</h4>
        <input id="txtUser" class="textbox" type="text" width="400px" height="30px" name="" value="">
      </div>
      <div>
        <h4 style="margin:0">Password</h4>
        <input id="txtPass" class="textbox" type="password" width="400px" height="30px" name="" value="">
      </div>
      <div>
        <h4 style="margin:0">Re-type Password</h4>
        <input id="txtPass" class="textbox" type="password" width="400px" height="30px" name="" value="">
      </div>
    </div>
    <div class="buttons">
      <button class="finalButton" type="submit" name="login">Register</button>
      <a href="/login.html"><button class="finalButton" type="button" name="register">Have an Account?</button></a>
    </div>
  </div>
</body>
<script src="\js\login.js"></script>
</html>
